Reading the gapminder_clean.csv data as a pandas DataFrame

In [25]:
import pandas as pd

df = pd.read_csv('gapminder_clean.csv')

#print(df.to_string()) 
print(df)

      Unnamed: 0 Country Name  Year  Agriculture, value added (% of GDP)  \
0              0  Afghanistan  1962                                  NaN
1              1  Afghanistan  1967                                  NaN
2              2  Afghanistan  1972                                  NaN
3              3  Afghanistan  1977                                  NaN
4              4  Afghanistan  1982                                  NaN
...          ...          ...   ...                                  ...
2602        2602     Zimbabwe  1987                            14.407528
2603        2603     Zimbabwe  1992                             7.413793
2604        2604     Zimbabwe  1997                            18.934082
2605        2605     Zimbabwe  2002                            14.029007
2606        2606     Zimbabwe  2007                            21.597907

      CO2 emissions (metric tons per capita)  \
0                                   0.073781
1                                   0.123782
2                                   0.130820
3                                   0.183118
4                                   0.165879
...                                      ...
2602                                1.598217
2603                                1.533724
2604                                1.194678
2605                                0.942795
2606                                0.743449

      Domestic credit provided by financial sector (% of GDP)  \
0                                             21.276422
1                                              9.917662
2                                             18.880833
3                                             13.836822
4                                                   NaN
...                                                 ...
2602                                          74.161607
2603                                          43.120518
2604                                          63.058320
2605                                         164.559047
2606                                                NaN

      Electric power consumption (kWh per capita)  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
...                                           ...
2602                                   878.072691
2603                                   778.695133
2604                                   870.988697
2605                                   827.329873
2606                                   700.642317

      Energy use (kg of oil equivalent per capita)  \
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
...                                            ...
2602                                    896.673611
2603                                    923.493407
2604                                    804.508892
2605                                    772.676619
2606                                    725.681049

      Exports of goods and services (% of GDP)  \
0                                     4.878051
1                                     6.772908
2                                    14.763231
3                                    11.662904
4                                          NaN
...                                        ...
2602                                 24.015710
2603                                 27.227263
2604                                 37.595273
2605                                 31.834799
2606                                 37.785373

      Fertility rate, total (births per woman)  GDP growth (annual %)  \
0                                        7.450                    NaN
1                                        7.450                    NaN
2                                        7.450                    NaN
3                                        7.449                    NaN
4                                        7.450                    NaN
...                                        ...                    ...
2602                                     5.784               1.150737
2603                                     4.840              -9.015570
2604                                     4.237               2.680594
2605                                     4.018              -8.894023
2606                                     4.022              -3.653327

      Imports of goods and services (% of GDP)  \
0                                     9.349593
1                                    14.209827
2                                    18.105850
3                                    14.823175
4                                          NaN
...                                        ...
2602                                 21.274886
2603                                 36.485231
2604                                 44.609791
2605                                 34.972553
2606                                 46.387531

      Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
0                                  NaN                                 NaN
1                                  NaN                                 NaN
2                                  NaN                                 NaN
3                                  NaN                                 NaN
4                                  NaN                                 NaN
...                                ...                                 ...
2602                         32.451242                            7.189361
2603                         40.862069                          -14.129659
2604                         25.554678                           -2.879048
2605                               NaN                            2.712950
2606                         33.074953                            0.894887

      Life expectancy at birth, total (years)  \
0                                   33.219902
1                                   35.389415
2                                   37.610146
3                                   40.110146
4                                   43.230732
...                                       ...
2602                                61.753805
2603                                56.491976
2604                                46.065902
2605                                40.679146
2606                                44.177756

      Population density (people per sq. km of land area)  \
0                                             14.312061
1                                             15.881812
2                                             17.947027
3                                             19.998926
4                                             19.402324
...                                                 ...
2602                                          24.649495
2603                                          28.485762
2604                                          31.174507
2605                                          32.807111
2606                                          34.374559

      Services, etc., value added (% of GDP)         pop continent   gdpPercap
0                                        NaN  10267083.0      Asia  853.100710
1                                        NaN  11537966.0      Asia  836.197138
2                                        NaN  13079460.0      Asia  739.981106
3                                        NaN  14880372.0      Asia  786.113360
4                                        NaN  12881816.0      Asia  978.011439
...                                      ...         ...       ...         ...
2602                               53.141236   9216418.0    Africa  706.157306
2603                               51.724135  10704340.0    Africa  693.420786
2604                               55.511236  11404948.0    Africa  792.449960
2605                                     NaN  11926563.0    Africa  672.038623
2606                               45.327139  12311143.0    Africa  469.709298

[2607 rows x 20 columns]

In [26]:
# Printing the shape of the dataframe
df.shape

(2607, 20)

In [27]:
#Checking if there is missing values
print(df.isna())

      Unnamed: 0  Country Name   Year  Agriculture, value added (% of GDP)  \
0          False         False  False                                 True
1          False         False  False                                 True
2          False         False  False                                 True
3          False         False  False                                 True
4          False         False  False                                 True
...          ...           ...    ...                                  ...
2602       False         False  False                                False
2603       False         False  False                                False
2604       False         False  False                                False
2605       False         False  False                                False
2606       False         False  False                                False

      CO2 emissions (metric tons per capita)  \
0                                      False
1                                      False
2                                      False
3                                      False
4                                      False
...                                      ...
2602                                   False
2603                                   False
2604                                   False
2605                                   False
2606                                   False

      Domestic credit provided by financial sector (% of GDP)  \
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                  True
...                                                 ...
2602                                              False
2603                                              False
2604                                              False
2605                                              False
2606                                               True

      Electric power consumption (kWh per capita)  \
0                                            True
1                                            True
2                                            True
3                                            True
4                                            True
...                                           ...
2602                                        False
2603                                        False
2604                                        False
2605                                        False
2606                                        False

      Energy use (kg of oil equivalent per capita)  \
0                                             True
1                                             True
2                                             True
3                                             True
4                                             True
...                                            ...
2602                                         False
2603                                         False
2604                                         False
2605                                         False
2606                                         False

      Exports of goods and services (% of GDP)  \
0                                        False
1                                        False
2                                        False
3                                        False
4                                         True
...                                        ...
2602                                     False
2603                                     False
2604                                     False
2605                                     False
2606                                     False

      Fertility rate, total (births per woman)  GDP growth (annual %)  \
0                                        False                   True
1                                        False                   True
2                                        False                   True
3                                        False                   True
4                                        False                   True
...                                        ...                    ...
2602                                     False                  False
2603                                     False                  False
2604                                     False                  False
2605                                     False                  False
2606                                     False                  False

      Imports of goods and services (% of GDP)  \
0                                        False
1                                        False
2                                        False
3                                        False
4                                         True
...                                        ...
2602                                     False
2603                                     False
2604                                     False
2605                                     False
2606                                     False

      Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
0                                 True                                True
1                                 True                                True
2                                 True                                True
3                                 True                                True
4                                 True                                True
...                                ...                                 ...
2602                             False                               False
2603                             False                               False
2604                             False                               False
2605                              True                               False
2606                             False                               False

      Life expectancy at birth, total (years)  \
0                                       False
1                                       False
2                                       False
3                                       False
4                                       False
...                                       ...
2602                                    False
2603                                    False
2604                                    False
2605                                    False
2606                                    False

      Population density (people per sq. km of land area)  \
0                                                 False
1                                                 False
2                                                 False
3                                                 False
4                                                 False
...                                                 ...
2602                                              False
2603                                              False
2604                                              False
2605                                              False
2606                                              False

      Services, etc., value added (% of GDP)    pop  continent  gdpPercap
0                                       True  False      False      False
1                                       True  False      False      False
2                                       True  False      False      False
3                                       True  False      False      False
4                                       True  False      False      False
...                                      ...    ...        ...        ...
2602                                   False  False      False      False
2603                                   False  False      False      False
2604                                   False  False      False      False
2605                                    True  False      False      False
2606                                   False  False      False      False

[2607 rows x 20 columns]

In [28]:
#Replacing missing values with 0
# Creating a constant value for column Count
constant_values = 0
df0 = df.fillna(value = constant_values)
 
# Printing the dataframe
display(df0)

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
0,0,Afghanistan,1962,0.000000,0.073781,21.276422,0.000000,0.000000,4.878051,7.450,0.000000,9.349593,0.000000,0.000000,33.219902,14.312061,0.000000,10267083.0,Asia,853.100710
1,1,Afghanistan,1967,0.000000,0.123782,9.917662,0.000000,0.000000,6.772908,7.450,0.000000,14.209827,0.000000,0.000000,35.389415,15.881812,0.000000,11537966.0,Asia,836.197138
2,2,Afghanistan,1972,0.000000,0.130820,18.880833,0.000000,0.000000,14.763231,7.450,0.000000,18.105850,0.000000,0.000000,37.610146,17.947027,0.000000,13079460.0,Asia,739.981106
3,3,Afghanistan,1977,0.000000,0.183118,13.836822,0.000000,0.000000,11.662904,7.449,0.000000,14.823175,0.000000,0.000000,40.110146,19.998926,0.000000,14880372.0,Asia,786.113360
4,4,Afghanistan,1982,0.000000,0.165879,0.000000,0.000000,0.000000,0.000000,7.450,0.000000,0.000000,0.000000,0.000000,43.230732,19.402324,0.000000,12881816.0,Asia,978.011439
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2602,2602,Zimbabwe,1987,14.407528,1.598217,74.161607,878.072691,896.673611,24.015710,5.784,1.150737,21.274886,32.451242,7.189361,61.753805,24.649495,53.141236,9216418.0,Africa,706.157306
2603,2603,Zimbabwe,1992,7.413793,1.533724,43.120518,778.695133,923.493407,27.227263,4.840,-9.015570,36.485231,40.862069,-14.129659,56.491976,28.485762,51.724135,10704340.0,Africa,693.420786
2604,2604,Zimbabwe,1997,18.934082,1.194678,63.058320,870.988697,804.508892,37.595273,4.237,2.680594,44.609791,25.554678,-2.879048,46.065902,31.174507,55.511236,11404948.0,Africa,792.449960
2605,2605,Zimbabwe,2002,14.029007,0.942795,164.559047,827.329873,772.676619,31.834799,4.018,-8.894023,34.972553,0.000000,2.712950,40.679146,32.807111,0.000000,11926563.0,Africa,672.038623
2606,2606,Zimbabwe,2007,21.597907,0.743449,0.000000,700.642317,725.681049,37.785373,4.022,-3.653327,46.387531,33.074953,0.894887,44.177756,34.374559,45.327139,12311143.0,Africa,469.709298

Filtering the data to include only rows where Year is 1962 and then makeing a scatter plot comparing 'CO2 emissions (metric tons per capita)' and gdpPercap for the filtered data.

In [30]:
# Filtering the rows where Year is 1962

df1962 = df0.loc[df0["Year"] == 1962]

# Printing the new dataset
print(df1962)

      Unnamed: 0    Country Name  Year  Agriculture, value added (% of GDP)  \
0              0     Afghanistan  1962                                  0.0
10            10         Albania  1962                                  0.0
20            20         Algeria  1962                                  0.0
30            30  American Samoa  1962                                  0.0
40            40         Andorra  1962                                  0.0
...          ...             ...   ...                                  ...
2553        2553  Virgin Islands  1962                                  0.0
2567        2567           World  1962                                  0.0
2577        2577     Yemen, Rep.  1962                                  0.0
2587        2587          Zambia  1962                                  0.0
2597        2597        Zimbabwe  1962                                  0.0

      CO2 emissions (metric tons per capita)  \
0                                   0.073781
10                                  1.439956
20                                  0.484954
30                                  0.000000
40                                  0.000000
...                                      ...
2553                                0.000000
2567                                3.134694
2577                                0.728004
2587                                0.000000
2597                                0.000000

      Domestic credit provided by financial sector (% of GDP)  \
0                                             21.276422
10                                             0.000000
20                                             0.000000
30                                             0.000000
40                                             0.000000
...                                                 ...
2553                                           0.000000
2567                                          75.777409
2577                                           0.000000
2587                                           0.000000
2597                                           0.000000

      Electric power consumption (kWh per capita)  \
0                                             0.0
10                                            0.0
20                                            0.0
30                                            0.0
40                                            0.0
...                                           ...
2553                                          0.0
2567                                          0.0
2577                                          0.0
2587                                          0.0
2597                                          0.0

      Energy use (kg of oil equivalent per capita)  \
0                                              0.0
10                                             0.0
20                                             0.0
30                                             0.0
40                                             0.0
...                                            ...
2553                                           0.0
2567                                           0.0
2577                                           0.0
2587                                           0.0
2597                                           0.0

      Exports of goods and services (% of GDP)  \
0                                     4.878051
10                                    0.000000
20                                   19.793873
30                                    0.000000
40                                    0.000000
...                                        ...
2553                                  0.000000
2567                                 11.651114
2577                                  0.000000
2587                                  0.000000
2597                                  0.000000

      Fertility rate, total (births per woman)  GDP growth (annual %)  \
0                                     7.450000               0.000000
10                                    6.282000               0.000000
20                                    7.614000             -19.685042
30                                    0.000000               0.000000
40                                    0.000000               0.000000
...                                        ...                    ...
2553                                  5.679000               0.000000
2567                                  5.030386               5.549853
2577                                  7.437000               0.000000
2587                                  7.127000              -2.490840
2597                                  7.267000               1.434471

      Imports of goods and services (% of GDP)  \
0                                     9.349593
10                                    0.000000
20                                   20.818647
30                                    0.000000
40                                    0.000000
...                                        ...
2553                                  0.000000
2567                                 11.916013
2577                                  0.000000
2587                                  0.000000
2597                                  0.000000

      Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
0                                  0.0                            0.000000
10                                 0.0                            0.000000
20                                 0.0                            2.351279
30                                 0.0                            0.000000
40                                 0.0                            0.000000
...                                ...                                 ...
2553                               0.0                            0.000000
2567                               0.0                            0.000000
2577                               0.0                            0.000000
2587                               0.0                            2.091562
2597                               0.0                            0.469618

      Life expectancy at birth, total (years)  \
0                                   33.219902
10                                  64.162854
20                                  47.045000
30                                   0.000000
40                                   0.000000
...                                       ...
2553                                64.462561
2567                                53.404890
2577                                34.739561
2587                                45.853659
2597                                52.277902

      Population density (people per sq. km of land area)  \
0                                             14.312061
10                                            62.456898
20                                             4.908240
30                                           105.590000
40                                            32.714894
...                                                 ...
2553                                         103.714286
2567                                          24.120006
2577                                          10.112857
2587                                           4.359305
2597                                          10.356112

      Services, etc., value added (% of GDP)         pop continent  \
0                                        0.0  10267083.0      Asia
10                                       0.0   1728137.0    Europe
20                                       0.0  11000948.0    Africa
30                                       0.0         0.0         0
40                                       0.0         0.0         0
...                                      ...         ...       ...
2553                                     0.0         0.0         0
2567                                     0.0         0.0         0
2577                                     0.0         0.0         0
2587                                     0.0   3421000.0    Africa
2597                                     0.0   4277736.0    Africa

        gdpPercap
0      853.100710
10    2312.888958
20    2550.816880
30       0.000000
40       0.000000
...           ...
2553     0.000000
2567     0.000000
2577     0.000000
2587  1452.725766
2597   527.272182

[259 rows x 20 columns]

In [31]:
#Printing the shape of the new dataframe
df1962.shape

(259, 20)

In [ ]:
# makeing a scatter plot comparing 'CO2 emissions (metric tons per capita)' and gdpPercap for the filtered data.
# Create a customized scatter plot

import matplotlib.pyplot as plt
import numpy as np

x=df1962["CO2 emissions (metric tons per capita)"]
y=df1962["gdpPercap"]



plt.scatter(x, y, alpha=0.6, edgecolors='b', c='yellow',linewidths=2, s=200)
 
# Add title and axis labels
plt.title("Scatter Plot to show relationship between Co2 emission and gdPercap")
plt.xlabel("CO2 Emission")
plt.ylabel("gdPercap")
 
# Display color intensity scale
plt.colorbar(label='Color Intensity')
 
# Show the plot
plt.show()

On the filtered data, calculating the correlation of 'CO2 emissions (metric tons per capita)' and gdpPercap. What is the correlation and associated p value?

In [ ]:
#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x, y):
    mean1 = np.mean(x)
    mean2 = np.mean(y)
    std1 = np.std(x, ddof=1) 
    std2 = np.std(y, ddof=1)
    n1 = len(x)
    n2 = len(y)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x, y):
    n1 = len(x)
    n2 = len(y)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x))
print(len(y))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x, y)
df1 = calculate_degrees_of_freedom(x, y)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

On the unfiltered data, answer "In what year is the correlation between 'CO2 emissions (metric tons per capita)' and gdpPercap the strongest?" Filtering the dataset to that year for the next step...

In [ ]:
#Finding the Year
df.Year.unique()

In [ ]:
# Filtering dataset and calculating p values for 1967
import matplotlib.pyplot as plt
import numpy as np

df1967 = df0.loc[df0["Year"] == 1967]

# Printing the new dataset
print(df1967)

x2=df1967["CO2 emissions (metric tons per capita)"]
y2=df1967["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x2, y2):
    mean1 = np.mean(x2)
    mean2 = np.mean(y2)
    std1 = np.std(x2, ddof=1) 
    std2 = np.std(y2, ddof=1)
    n1 = len(x2)
    n2 = len(y2)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x2, y2):
    n1 = len(x2)
    n2 = len(y2)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x2))
print(len(y2))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x2, y2)
df1 = calculate_degrees_of_freedom(x2, y2)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1972

import matplotlib.pyplot as plt
import numpy as np

df1972 = df0.loc[df0["Year"] == 1972]

# Printing the new dataset
#print(df1972)

x3=df1972["CO2 emissions (metric tons per capita)"]
y3=df1972["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x3, y3):
    mean1 = np.mean(x3)
    mean2 = np.mean(y3)
    std1 = np.std(x3, ddof=1) 
    std2 = np.std(y3, ddof=1)
    n1 = len(x3)
    n2 = len(y3)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x3, y3):
    n1 = len(x3)
    n2 = len(y3)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x3))
print(len(y3))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x3, y3)
df1 = calculate_degrees_of_freedom(x3, y3)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1977


import matplotlib.pyplot as plt
import numpy as np

df1977 = df0.loc[df0["Year"] == 1977]

# Printing the new dataset
#print(df1977)

x4=df1977["CO2 emissions (metric tons per capita)"]
y4=df1977["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x4, y4):
    mean1 = np.mean(x4)
    mean2 = np.mean(y4)
    std1 = np.std(x4, ddof=1) 
    std2 = np.std(y4, ddof=1)
    n1 = len(x4)
    n2 = len(y4)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x4, y4):
    n1 = len(x4)
    n2 = len(y4)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x4))
print(len(y4))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x4, y4)
df1 = calculate_degrees_of_freedom(x4, y4)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1982



import matplotlib.pyplot as plt
import numpy as np

df1982 = df0.loc[df0["Year"] == 1982]

# Printing the new dataset
print(df1982)

x5=df1982["CO2 emissions (metric tons per capita)"]
y5=df1982["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x5, y5):
    mean1 = np.mean(x5)
    mean2 = np.mean(y5)
    std1 = np.std(x5, ddof=1) 
    std2 = np.std(y5, ddof=1)
    n1 = len(x5)
    n2 = len(y5)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x5, y5):
    n1 = len(x5)
    n2 = len(y5)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x5))
print(len(y5))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x5, y5)
df1 = calculate_degrees_of_freedom(x5, y5)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1987


import matplotlib.pyplot as plt
import numpy as np

df1987 = df0.loc[df0["Year"] == 1987]

# Printing the new dataset
#print(df1972)

x6=df1987["CO2 emissions (metric tons per capita)"]
y6=df1987["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x6, y6):
    mean1 = np.mean(x6)
    mean2 = np.mean(y6)
    std1 = np.std(x6, ddof=1) 
    std2 = np.std(y6, ddof=1)
    n1 = len(x6)
    n2 = len(y6)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x6, y6):
    n1 = len(x6)
    n2 = len(y6)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x6))
print(len(y6))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x6, y6)
df1 = calculate_degrees_of_freedom(x6, y6)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1992


import matplotlib.pyplot as plt
import numpy as np

df1992 = df0.loc[df0["Year"] == 1992]

# Printing the new dataset
#print(df1972)

x7=df1992["CO2 emissions (metric tons per capita)"]
y7=df1992["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x7, y7):
    mean1 = np.mean(x7)
    mean2 = np.mean(y7)
    std1 = np.std(x7, ddof=1) 
    std2 = np.std(y7, ddof=1)
    n1 = len(x7)
    n2 = len(y7)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x7, y7):
    n1 = len(x7)
    n2 = len(y7)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x7))
print(len(y7))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x7, y7)
df1 = calculate_degrees_of_freedom(x7, y7)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 1997



import matplotlib.pyplot as plt
import numpy as np

df1997 = df0.loc[df0["Year"] == 1997]

# Printing the new dataset
#print(df1972)

x8=df1997["CO2 emissions (metric tons per capita)"]
y8=df1997["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x8, y8):
    mean1 = np.mean(x8)
    mean2 = np.mean(y8)
    std1 = np.std(x8, ddof=1) 
    std2 = np.std(y8, ddof=1)
    n1 = len(x8)
    n2 = len(y8)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x8, y8):
    n1 = len(x8)
    n2 = len(y8)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x8))
print(len(y8))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x8, y8)
df1 = calculate_degrees_of_freedom(x8, y8)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 2002


import matplotlib.pyplot as plt
import numpy as np

df2002 = df0.loc[df0["Year"] == 2002]

# Printing the new dataset
#print(df1972)

x9=df2002["CO2 emissions (metric tons per capita)"]
y9=df2002["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x9, y9):
    mean1 = np.mean(x9)
    mean2 = np.mean(y9)
    std1 = np.std(x9, ddof=1) 
    std2 = np.std(y9, ddof=1)
    n1 = len(x9)
    n2 = len(y9)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x9, y9):
    n1 = len(x9)
    n2 = len(y9)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x9))
print(len(y9))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x9, y9)
df1 = calculate_degrees_of_freedom(x9, y9)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

In [ ]:
# Filtering dataset and calculating p values for 2007


import matplotlib.pyplot as plt
import numpy as np

df2007 = df0.loc[df0["Year"] == 2007]

# Printing the new dataset
#print(df1972)

x10=df2007["CO2 emissions (metric tons per capita)"]
y10=df2007["gdpPercap"]

#Importing liabraries
import numpy as np
from scipy.stats import t

# Step 1: Calculating the T-score
def calculate_t_score(x10, y10):
    mean1 = np.mean(x10)
    mean2 = np.mean(y10)
    std1 = np.std(x10, ddof=1) 
    std2 = np.std(y10, ddof=1)
    n1 = len(x10)
    n2 = len(y10)
 
    t_score = (mean1 - mean2) / np.sqrt((std1**2 / n1) + (std2**2 / n2))
    return t_score
    print(t_score)
 
# Step 2: Determining the degrees of freedom (df)
def calculate_degrees_of_freedom(x10, y10):
    n1 = len(x10)
    n2 = len(y10)
    df1 = n1 + n2 - 2# For a two-sample t-test
    print(df1)
    return df1
    
print(len(x10))
print(len(y10))



 
# Step 3: Finding the p-value
def calculate_p_value(t_score, df1):
    p_value = 2 * (1 - t.cdf(np.abs(t_score), df1))
    print(p_value)
    return p_value
 
# Step 4: Interpreting the p-value
def interpret_p_value(p_value, alpha=0.05):
    if p_value < alpha:
        return "Reject the null hypothesis. There is a statistically significant difference."
    else:
        return "Fail to reject."


t_score = calculate_t_score(x10, y10)
df1 = calculate_degrees_of_freedom(x10, y10)
p_value = calculate_p_value(t_score, df1)
result = interpret_p_value(p_value)
 
print("p-value:", p_value)
print(result)

Using plotly or bokeh, create an interactive scatter plot comparing 'CO2 emissions (metric tons per capita)' and gdpPercap, where the point size is determined by pop (population) and the color is determined by the continent.

In [33]:
#Plotting for dataset which contains all years
import numpy as np 
import pandas as pd 
import plotly.express as px
import plotly.graph_objects as go

import plotly.io as pio
pio.renderers.default = 'notebook'

fig = px.scatter(df0, x="CO2 emissions (metric tons per capita)", y="gdpPercap", color="continent",size="pop")
fig.write_html('FigurePlotly.html', auto_open=True)

In [34]:
# Viewing the basic metadata information
df0.describe()

,Unnamed: 0,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,gdpPercap
count,2607.0000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2607.000000,2.607000e+03,2607.000000
mean,1303.0000,1984.587265,10.950496,3.488620,33.469130,1444.553288,1152.722178,22.327113,3.919734,2.937829,25.786026,16.177422,16.576070,57.935815,255.486232,27.594149,1.640650e+07,3962.602208
std,752.7204,14.369906,15.170426,6.478133,42.290258,3114.763860,2332.622055,24.747337,2.200655,6.223987,28.017302,17.860503,131.934272,19.444284,1355.697184,27.322945,8.473788e+07,8112.179738
min,0.0000,1962.000000,0.000000,0.000000,-73.660254,0.000000,0.000000,0.000000,0.000000,-44.900000,0.000000,0.000000,-15.423700,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,651.5000,1972.000000,0.000000,0.141946,0.000000,0.000000,0.000000,0.000000,2.080000,0.000000,0.000000,0.000000,0.000000,50.982817,16.601225,0.000000,0.000000e+00,0.000000
50%,1303.0000,1987.000000,2.401402,0.982246,21.873798,56.952911,314.970276,17.428434,3.665000,2.271070,21.542071,13.667375,3.422667,63.783244,44.670906,31.777945,0.000000e+00,0.000000
75%,1954.5000,1997.000000,19.455306,4.513834,50.093987,1357.185278,1165.662956,33.170031,5.989000,5.400702,38.233184,30.289718,8.198427,70.757256,116.437264,50.969936,7.275676e+06,3934.809833
max,2606.0000,2007.000000,94.846403,82.718938,301.187326,36852.544886,36146.699614,214.742278,8.838000,149.972963,330.563324,210.606944,4078.476278,82.507073,20601.550000,100.000000,1.318683e+09,109347.867000

In [ ]:
# Figuring out how many unique continents are there
df0.continent.unique()

In [43]:
#Creatinng ANOVA Table for calculation of relationship between continent and 'Energy use (kg of oil equivalent per capita)'
dfANOVA=pd.DataFrame({'Asia':df0[df0['continent']=='Asia']['Energy use (kg of oil equivalent per capita)'],
                 'Europe':df0[df0['continent']=='Europe']['Energy use (kg of oil equivalent per capita)'],
                 'Africa':df0[df0['continent']=='Africa']['Energy use (kg of oil equivalent per capita)'],
                 'Americas':df0[df0['continent']=='Americas']['Energy use (kg of oil equivalent per capita)'],
                 'Oceania':df0[df0['continent']=='Oceania']['Energy use (kg of oil equivalent per capita)']})

In [44]:
# Printing  the ANOVA table
print(dfANOVA)

      Asia  Europe      Africa  Americas  Oceania
0      0.0     NaN         NaN       NaN      NaN
1      0.0     NaN         NaN       NaN      NaN
2      0.0     NaN         NaN       NaN      NaN
3      0.0     NaN         NaN       NaN      NaN
4      0.0     NaN         NaN       NaN      NaN
...    ...     ...         ...       ...      ...
2602   NaN     NaN  896.673611       NaN      NaN
2603   NaN     NaN  923.493407       NaN      NaN
2604   NaN     NaN  804.508892       NaN      NaN
2605   NaN     NaN  772.676619       NaN      NaN
2606   NaN     NaN  725.681049       NaN      NaN

[1284 rows x 5 columns]

In [45]:
#Replacing missing values with 0
# Creating a constant value for column Count
constant_values1 = 0
dfANOVA0 = dfANOVA.fillna(value = constant_values1)
 
# Printing the dataframe
display(dfANOVA0)

      Asia  Europe      Africa  Americas  Oceania
0      0.0     0.0    0.000000       0.0      0.0
1      0.0     0.0    0.000000       0.0      0.0
2      0.0     0.0    0.000000       0.0      0.0
3      0.0     0.0    0.000000       0.0      0.0
4      0.0     0.0    0.000000       0.0      0.0
...    ...     ...         ...       ...      ...
2602   0.0     0.0  896.673611       0.0      0.0
2603   0.0     0.0  923.493407       0.0      0.0
2604   0.0     0.0  804.508892       0.0      0.0
2605   0.0     0.0  772.676619       0.0      0.0
2606   0.0     0.0  725.681049       0.0      0.0

[1284 rows x 5 columns]

In [46]:
# Perform the ANOVA

from scipy import stats

F, p = stats.f_oneway(dfANOVA0['Asia'], dfANOVA0['Europe'], dfANOVA0['Africa'], dfANOVA0['Americas'], dfANOVA0['Oceania'])

# Seeing if the overall model is significant
print('F-Statistic=%.3f, p=%.3f' % (F, p))

F-Statistic=61.541, p=0.000

From the above the calculation we can see that the p value is less than 0.05 so we can reject the null hypothesis. That means there is significant statistical difference.

Is there a significant difference between Europe and Asia with respect to 'Imports of goods and services (% of GDP)' in the years after 1990? (Stats test needed

In [47]:
After1990 = df0[df0["Year"] > 1990]
After1990.head()

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
6,6,Afghanistan,1992,0.000000,0.101375,0.000000,0.000000,0.00000,0.000000,7.502,0.000000,0.000000,0.000000,0.000000,51.362927,21.054483,0.000000,16317921.0,Asia,649.341395
7,7,Afghanistan,1997,0.000000,0.060798,0.000000,0.000000,0.00000,0.000000,7.636,0.000000,0.000000,0.000000,0.000000,54.017829,27.623273,0.000000,22227415.0,Asia,635.341351
8,8,Afghanistan,2002,38.471940,0.041129,0.000000,0.000000,0.00000,32.386719,7.273,0.000000,65.287704,23.714097,0.000000,55.857195,32.912231,37.813963,25268405.0,Asia,726.734055
9,9,Afghanistan,2007,30.622854,0.087858,0.535181,0.000000,0.00000,17.823714,6.437,13.740205,58.350047,27.344703,22.382016,57.833829,39.637202,42.032443,31889923.0,Asia,974.580338
16,16,Albania,1992,51.641870,0.774725,0.000000,442.249077,418.28663,11.490438,2.829,-7.200000,88.512248,23.320559,249.683437,71.900805,118.505073,25.037571,3326498.0,Europe,2497.437901

In [48]:
After1990.describe()

,Unnamed: 0,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,gdpPercap
count,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1051.000000,1.051000e+03,1051.000000
mean,1311.591817,1999.502379,12.528372,4.296850,48.453767,2261.349783,1591.151274,31.858076,3.117883,3.602537,36.522882,23.969411,30.496369,62.900146,310.301105,43.279905,2.034057e+07,4816.307919
std,753.429261,5.594959,13.650835,6.253720,51.121925,3950.714959,2506.328881,26.314706,1.843975,7.834368,28.629837,17.402047,205.029322,18.451559,1590.258308,25.395238,1.022721e+08,9190.347070
min,6.000000,1992.000000,0.000000,0.000000,-73.660254,0.000000,0.000000,0.000000,0.000000,-44.900000,0.000000,0.000000,-15.423700,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,658.500000,1994.500000,1.279707,0.400679,10.177065,0.000000,0.000000,15.961216,1.750000,0.441037,21.422076,13.346475,1.757584,57.926146,26.172413,32.305555,0.000000e+00,0.000000
50%,1317.000000,2002.000000,7.441636,2.095041,36.448813,561.108866,662.721536,27.942740,2.660000,3.489543,32.150182,25.727702,4.255764,68.640220,60.177337,48.891963,0.000000e+00,0.000000
75%,1962.500000,2004.500000,20.653046,6.285941,69.764771,2814.163021,2108.646255,42.956052,4.455000,6.025817,48.886594,33.359969,8.565972,73.580610,141.138988,62.527228,9.175410e+06,4804.177740
max,2606.000000,2007.000000,65.972956,70.984764,301.187326,36852.544886,21517.779340,214.742278,8.270000,149.972963,283.283762,210.606944,4078.476278,82.507073,20601.550000,92.850313,1.318683e+09,49357.190170

In [ ]:
#Creating ANOVA Table 
dfANOVAAfter1990=pd.DataFrame({'Asia':After1990[After1990['continent']=='Asia']['Imports of goods and services (% of GDP)'],
                 'Europe':After1990[After1990['continent']=='Europe']['Imports of goods and services (% of GDP)']})

In [ ]:
#Printing the ANOVA table

print(dfANOVAAfter1990)

In [ ]:
#Replacing missing values with 0
# Creating a constant value for column Count
constant_values2 = 0
dfANOVAAfter19900 = dfANOVAAfter1990.fillna(value = constant_values2)
 
# Printing the dataframe
display(dfANOVAAfter19900)

In [ ]:
# Perform the ANOVA Test

from scipy import stats

F1, p1 = stats.f_oneway(dfANOVAAfter19900['Asia'], dfANOVAAfter19900['Europe'])

# Seeing if the overall model is significant
print('F-Statistic=%.3f, p=%.3f' % (F1, p1))

From the above p value it can said that we can not reject the null hypothesis and there is no significant statistical difference.

What is the country (or countries) that has the highest 'Population density (people per sq. km of land area)' across all years? (i.e., which country has the highest average ranking in this category across each time point in the dataset?)

In [ ]:
# Finding maximum value of pop
maxdf0 = df0['pop'].max()
print(maxdf0)

In [ ]:
import pandas as pd

def big_countries(df0: pd.DataFrame) -> pd.DataFrame:

# Filter the rows based on the conditions for being a big country
#big_countries_df = df0[(df0[â€˜popâ€™] >= 1318683096.0)

#big_countries_df = df0[(df0[â€˜popâ€™] >= 1318683096.0)]

  big_countries_df = (df0["pop"] >= 1318683096.0)

# Select the required columns

  result_df = big_countries_df["pop","Country"]

  return result_df
  print(result_df)

In [ ]:
result = big_countries(df0)

print(result)

In [15]:
#Creating functon which can take the dataframe,filter out by the maximun population number, sort out by country name and returnt the country which has the highest population

import pandas as pd

def find_big_countries(countries_df):
    try:
        # ensure the input is a dataframe
        if not isinstance(countries_df, pd.DataFrame):
            raise ValueError("Input must be a pandas DataFrame.")

        # define the filtering condition for 'Big Countries'
        big_countries_condition = (countries_df['pop'] >= 1318683096.0) 
        # filter the dataframe based on the condition
        big_countries_df = countries_df[big_countries_condition]

        # sort the filtered dataframe by 'country_id'
        big_countries_df_sorted = big_countries_df.sort_values(by='Country Name')

        #return big_countries_df_sorted
        return big_countries_df_sorted
        #result_df = big_countries_df["pop","Country Name"]
        #return result_df
    except Exception as e:
        # handle potential errors
        print(f"An error occurred: {e}")
        return pd.DataFrame()  # return an empty dataframe in case of error

In [16]:
# Calling the function which has been created in the above cell
result = find_big_countries(df0)

print(result)
result.head()

     Unnamed: 0 Country Name  Year  Agriculture, value added (% of GDP)  \
449         449        China  2007                            10.283005

     CO2 emissions (metric tons per capita)  \
449                                5.153564

     Domestic credit provided by financial sector (% of GDP)  \
449                                         125.691574

     Electric power consumption (kWh per capita)  \
449                                  2330.259469

     Energy use (kg of oil equivalent per capita)  \
449                                   1550.530271

     Exports of goods and services (% of GDP)  \
449                                 35.948302

     Fertility rate, total (births per woman)  GDP growth (annual %)  \
449                                     1.526              14.231388

     Imports of goods and services (% of GDP)  \
449                                 26.716435

     Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
449                         46.861016                            7.805018

     Life expectancy at birth, total (years)  \
449                                74.340439

     Population density (people per sq. km of land area)  \
449                                         140.376588

     Services, etc., value added (% of GDP)           pop continent  \
449                                42.85598  1.318683e+09      Asia

       gdpPercap
449  4959.114854

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
449,449,China,2007,10.283005,5.153564,125.691574,2330.259469,1550.530271,35.948302,1.526,14.231388,26.716435,46.861016,7.805018,74.340439,140.376588,42.85598,1.318683e+09,Asia,4959.114854

From the above result it can said that the China has the highest number of population in the dataset

What country (or countries) has shown the greatest increase in 'Life expectancy at birth, total (years)' between 1962 and 2007?

In [9]:
#Filtering the dataset for year form 1962 to 2007
import numpy as np
df0copy=df0.copy()
df0copy.head()

filtered_values = np.where((df0copy['Year']>=1962) & (df0copy['Year']<= 2007))
print(filtered_values)
copyfil=df0copy.loc[filtered_values]
print(copyfil)
copyfil.shape

(array([   0,    1,    2, ..., 2604, 2605, 2606], dtype=int64),)
      Unnamed: 0 Country Name  Year  Agriculture, value added (% of GDP)  \
0              0  Afghanistan  1962                             0.000000
1              1  Afghanistan  1967                             0.000000
2              2  Afghanistan  1972                             0.000000
3              3  Afghanistan  1977                             0.000000
4              4  Afghanistan  1982                             0.000000
...          ...          ...   ...                                  ...
2602        2602     Zimbabwe  1987                            14.407528
2603        2603     Zimbabwe  1992                             7.413793
2604        2604     Zimbabwe  1997                            18.934082
2605        2605     Zimbabwe  2002                            14.029007
2606        2606     Zimbabwe  2007                            21.597907

      CO2 emissions (metric tons per capita)  \
0                                   0.073781
1                                   0.123782
2                                   0.130820
3                                   0.183118
4                                   0.165879
...                                      ...
2602                                1.598217
2603                                1.533724
2604                                1.194678
2605                                0.942795
2606                                0.743449

      Domestic credit provided by financial sector (% of GDP)  \
0                                             21.276422
1                                              9.917662
2                                             18.880833
3                                             13.836822
4                                              0.000000
...                                                 ...
2602                                          74.161607
2603                                          43.120518
2604                                          63.058320
2605                                         164.559047
2606                                           0.000000

      Electric power consumption (kWh per capita)  \
0                                        0.000000
1                                        0.000000
2                                        0.000000
3                                        0.000000
4                                        0.000000
...                                           ...
2602                                   878.072691
2603                                   778.695133
2604                                   870.988697
2605                                   827.329873
2606                                   700.642317

      Energy use (kg of oil equivalent per capita)  \
0                                         0.000000
1                                         0.000000
2                                         0.000000
3                                         0.000000
4                                         0.000000
...                                            ...
2602                                    896.673611
2603                                    923.493407
2604                                    804.508892
2605                                    772.676619
2606                                    725.681049

      Exports of goods and services (% of GDP)  \
0                                     4.878051
1                                     6.772908
2                                    14.763231
3                                    11.662904
4                                     0.000000
...                                        ...
2602                                 24.015710
2603                                 27.227263
2604                                 37.595273
2605                                 31.834799
2606                                 37.785373

      Fertility rate, total (births per woman)  GDP growth (annual %)  \
0                                        7.450               0.000000
1                                        7.450               0.000000
2                                        7.450               0.000000
3                                        7.449               0.000000
4                                        7.450               0.000000
...                                        ...                    ...
2602                                     5.784               1.150737
2603                                     4.840              -9.015570
2604                                     4.237               2.680594
2605                                     4.018              -8.894023
2606                                     4.022              -3.653327

      Imports of goods and services (% of GDP)  \
0                                     9.349593
1                                    14.209827
2                                    18.105850
3                                    14.823175
4                                     0.000000
...                                        ...
2602                                 21.274886
2603                                 36.485231
2604                                 44.609791
2605                                 34.972553
2606                                 46.387531

      Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
0                             0.000000                            0.000000
1                             0.000000                            0.000000
2                             0.000000                            0.000000
3                             0.000000                            0.000000
4                             0.000000                            0.000000
...                                ...                                 ...
2602                         32.451242                            7.189361
2603                         40.862069                          -14.129659
2604                         25.554678                           -2.879048
2605                          0.000000                            2.712950
2606                         33.074953                            0.894887

      Life expectancy at birth, total (years)  \
0                                   33.219902
1                                   35.389415
2                                   37.610146
3                                   40.110146
4                                   43.230732
...                                       ...
2602                                61.753805
2603                                56.491976
2604                                46.065902
2605                                40.679146
2606                                44.177756

      Population density (people per sq. km of land area)  \
0                                             14.312061
1                                             15.881812
2                                             17.947027
3                                             19.998926
4                                             19.402324
...                                                 ...
2602                                          24.649495
2603                                          28.485762
2604                                          31.174507
2605                                          32.807111
2606                                          34.374559

      Services, etc., value added (% of GDP)         pop continent   gdpPercap
0                                   0.000000  10267083.0      Asia  853.100710
1                                   0.000000  11537966.0      Asia  836.197138
2                                   0.000000  13079460.0      Asia  739.981106
3                                   0.000000  14880372.0      Asia  786.113360
4                                   0.000000  12881816.0      Asia  978.011439
...                                      ...         ...       ...         ...
2602                               53.141236   9216418.0    Africa  706.157306
2603                               51.724135  10704340.0    Africa  693.420786
2604                               55.511236  11404948.0    Africa  792.449960
2605                                0.000000  11926563.0    Africa  672.038623
2606                               45.327139  12311143.0    Africa  469.709298

[2607 rows x 20 columns]

(2607, 20)

In [10]:
# Finding maximum value of from the abve filtered table
maxlife = copyfil['Life expectancy at birth, total (years)'].max()
print(maxlife)

82.5070731707

In [13]:
type(copyfil)

pandas.core.frame.DataFrame

In [22]:
#Creating functon which can take the dataframe,filter out by the maximun population number, sort out by country name and returnt the country which has the highest population

import pandas as pd

def find_countries(countries_df):
    try:
         # ensuring the input is a dataframe
        if not isinstance(countries_df, pd.DataFrame):
            raise ValueError("Input must be a pandas DataFrame.")

        # definnning the filtering condition for getting countries only which has life expectancy equal or more than a specific value
        big_countries_condition = (countries_df['Life expectancy at birth, total (years)'] >= 82.5070731707) 
          # filtering the dataframe based on the condition
        big_countries_df = countries_df[big_countries_condition]

        # sorting the filtered dataframe by 'Country Name'
        big_countries_df_sorted = big_countries_df.sort_values(by='Country Name')

        #returning the sorted dataframe
        return big_countries_df_sorted
        
    except Exception as e:
        # handling potential errors
        print(f"An error occurred: {e}")
        return pd.DataFrame()  # return an empty dataframe in case of error

In [23]:
# Calling the function which has been created in the above cell to find the country which has the bigegest life expectancy
result1 = find_countries(copyfil)

print(result1)
result1.head()

      Unnamed: 0 Country Name  Year  Agriculture, value added (% of GDP)  \
1179        1179        Japan  2007                             1.105791

      CO2 emissions (metric tons per capita)  \
1179                                9.782964

      Domestic credit provided by financial sector (% of GDP)  \
1179                                         290.389609

      Electric power consumption (kWh per capita)  \
1179                                  8474.379106

      Energy use (kg of oil equivalent per capita)  \
1179                                   4024.997953

      Exports of goods and services (% of GDP)  \
1179                                 17.493317

      Fertility rate, total (births per woman)  GDP growth (annual %)  \
1179                                      1.34               1.654283

      Imports of goods and services (% of GDP)  \
1179                                 15.600572

      Industry, value added (% of GDP)  Inflation, GDP deflator (annual %)  \
1179                           27.1546                           -0.729576

      Life expectancy at birth, total (years)  \
1179                                82.507073

      Population density (people per sq. km of land area)  \
1179                                         351.168724

      Services, etc., value added (% of GDP)          pop continent  \
1179                               71.739609  127467972.0      Asia

        gdpPercap
1179  31656.06806

,Unnamed: 0,Country Name,Year,"Agriculture, value added (% of GDP)",CO2 emissions (metric tons per capita),Domestic credit provided by financial sector (% of GDP),Electric power consumption (kWh per capita),Energy use (kg of oil equivalent per capita),Exports of goods and services (% of GDP),"Fertility rate, total (births per woman)",GDP growth (annual %),Imports of goods and services (% of GDP),"Industry, value added (% of GDP)","Inflation, GDP deflator (annual %)","Life expectancy at birth, total (years)",Population density (people per sq. km of land area),"Services, etc., value added (% of GDP)",pop,continent,gdpPercap
1179,1179,Japan,2007,1.105791,9.782964,290.389609,8474.379106,4024.997953,17.493317,1.34,1.654283,15.600572,27.1546,-0.729576,82.507073,351.168724,71.739609,127467972.0,Asia,31656.06806

From the above analysis it can be said that Japan has most life expectancy from the given period which is 1962 to 2007